---
layout: "default"
slug: "bridge"
ogp:
  og:
    site: "@speakbridge"
    card: "summary"
    title: "Bridge"
    url: "http://meedan.com/bridge"
    type: "business.business"
    image:
      '': "http://meedan.com/images/logos/bridge-open-graph-logo.png"
      type: "image/png"
      width: "300"
      height: "300"
    locale:
      '': en_US
    description: "Bridge enables rapid translation of social media and the addition of important cultural, social and political notes to facilitate understanding."
---

<%# Bridge branding Section %>
<section class="bridge__branding">
  <div class="section-inner layout--padding-bottom">
    <div class="row layout--padding-bottom layout--padding-top">
      <div class="logo-and-slogan">
        <%= partial "partials/image", :locals => {
            :type => "svg",
            :name => "bridge-white" } %>
        <p class="slogan"><%= t('bridge.branding.slogan')%></p>
      </div>

        <%= partial "partials/image", :locals => {
            :type => "png",
            :name => "bridge__branding-#{I18n.locale.to_s}",
            :path => "screenshots"
          } %>


    </div>
  </div>
</section>

<%# Sign up section %>
<%= partial "partials/bridge_subscribe" %>

<%# Explanations %>
<%#= Store the localized explanations (in locales dir) as an array %>
<% explanations = t("bridge.explanations") %>

<section class="bridge__explanations">
  <div class="section-inner">
    <% for i in 0...explanations.length %>
      <div class="explanation">
        <div class="header-and-description">
          <h3><%= explanations[i][:header] %></h3>
          <p><%= explanations[i][:text] %></p>
        </div>
        <%#= Render the image using a partial %>
        <%#= This assumes the images have numbered filenames %>
        <div class="screenshot">
          <%= partial "partials/image", :locals => {
              :type => "jpg",
              :path => "screenshots",
              :name => "bridge__explanation-#{i+1}-#{I18n.locale.to_s}",
              :alt => explanations[i][:alt] } %>
        </div>
      </div>
    <% end %>
  </div>
</section>

<%# History%>
<section class="bridge__history colors--inverted layout--padding-bottom">
  <div class="section-inner">
    <h3><%= t("bridge.history.header") %></h3>
    <% t("bridge.history.paragraphs").each do |e| %>
      <p><%= e[:text] %></p>
    <% end %>
  </div>
</section>

<%# Logos %>
 <section class="bridge__logos">
  <div class="section-inner">
    <h3><%= t("bridge.supporters.header")%></h3>
    <p><%= t("bridge.supporters.tagline")%></p>
    <ul class="logos layout--padding-bottom">
      <li>
        <%= partial "partials/image", :locals => {
          :type => "svg",
          :name => "kf",
          :url => "http://www.knightfoundation.org",
          :title => "Knight Foundation"
        } %>
      </li>
      <li>
        <%= partial "partials/image", :locals => {
          :type => "svg",
          :name => "ng",
          :url => "http://www.nationalgeographic.com",
          :title => "National Geographic"
        } %>
      </li>
    </ul>
    <p><%= t("bridge.supporters.partner_paragraph")%></p>
  </div>
</section>

<%# Sign up section %>
<%= partial "partials/bridge_subscribe" %>

<%# Footer %>
<div class="bridge__footer colors--inverted layout--padding-bottom layout--padding-top">
  <div class="section-inner">
    <p><%= t("bridge.footer.primary") %> <%= t("bridge.branding.follow") %> </p>
    <p>
      <a href="/en/bridge/bridge_privacy.html">
        <%= t("footer.privacy") %>
      </a>&nbsp;
      <a href="/en/bridge/bridge_tos.html">
        <%= t("footer.tos") %>
      </a>
    </p>
  </div>
</div>
