---
layout: "default"
slug: "bridge"
---

<!-- Bridge branding Section -->
<section class="bridge--branding">
  <img class="screenshot" alt="Bridge screenshot"
  src="/images/screenshots/bridge--branding-<%= I18n.locale %>@1x.png"
  srcset="/images/screenshots/bridge--branding-<%= I18n.locale %>@2x.png 2x">

  <div class="logo-and-slogan">
    <svg class="logo" width="300"><use xlink:href="#bridge" /></svg>
    <p class="slogan"><%= t('bridge.branding.slogan')%></p>
  </div>
</section>

<section class="bridge--call-to-action">
  <h2 class="call-to-action--text">
    <%= t("bridge.branding.call_to_action") %>
  </h2>

  <div class="call-to-action--form" id="mc_embed_signup">
    <form class="mailchimp" action="//meedan.us11.list-manage.com/subscribe/post?u=539fbe59ddc773c6592797bf2&id=16c3bf2018" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

      <div class="form-group">
        <label for="mce-EMAIL">
          <%= t("bridge.form.label_1") %>
        </label>
        <input type="email" value="" name="EMAIL" class="required email" placeholder="example@example.com" id="mce-EMAIL">
        <input type="submit" value="<%= t('bridge.form.submit')%>" name="subscribe" id="mc-embedded-subscribe" class="button">
      </div>

       <!-- Anti-spam honeypot technique -->
      <div style="position: absolute; left: -5000px;">
        <input type="text" name="b_539fbe59ddc773c6592797bf2_16c3bf2018" tabindex="-1" value="">
      </div>

      <!-- Checkbox -->
      <div class="apply-to-translate">
        <input type="checkbox" value="1" name="group[7069][1]" id="mce-group[7069]-7069-0">
        <label for="mce-group[7069]-7069-0">
          <%= t('bridge.form.label_2')%>
        </label>
      </div>
    </form>
  </div>
</section>

<!-- Explanations -->
<section class="bridge--explanations">

  <% explanations = t("bridge.explanations") %>
  <% for i in 0...explanations.length %>
    <div class="explanation">
      <div class="header-and-description">
        <h3><%= explanations[i][:header] %></h3>
        <p><%= explanations[i][:text] %></p>
      </div>
      <%= partial "partials/_image_srcset_localized.html.erb", :locals => {
          :type => "jpg",
          :image => "screenshots/bridge--explanation-#{i+1}",
          :locale => I18n.locale.to_s,
          :alt => explanations[i][:alt]
          } %>
    </div>
  <% end %>
</section>

<!-- History-->
<section class="bridge--history">
<h3><%= t("bridge.history.header") %></h3>
  <% t("bridge.history.paragraphs").each do |e| %>
    <p><%= e[:text] %></p>
  <% end %>
</section>

<!-- Supporters -->
 <section class="bridge--supporters">
  <h3><%= t("bridge.supporters.header")%></h3>
  <p><%= t("bridge.supporters.tagline")%></p>
  <ul class="logos">
    <li>
      <a class="kf logo" href="http://www.knightfoundation.org">
        <svg width="200"><use xlink:href="#kf" /></svg>
      </a>
    </li>
    <li>
      <a class="ng logo" href="http://www.nationalgeographic.com">
        <svg width="200"><use xlink:href="#ng" /></svg>
      </a>
    </li>
  </ul>
  <p><%= t("bridge.supporters.partner_paragraph")%></p>
</section>

<!-- Footer -->
<div class="bridge--footer">
  <p><%= t("bridge.footer.primary") %> <%= t("bridge.branding.follow") %> </p>
  <p><a href="/en/bridge/bridge_privacy.html"><%= t("bridge.footer.privacy") %></a> | <a href="/en/bridge/bridge_tos.html"><%= t("bridge.footer.tos") %></a></p>
</div>