---
layout: "default"
slug: "bridge"
ogp:
  og:
    site: "@speakbridge"
    card: "summary"
    title: "Bridge"
    url: "http://meedan.com/bridge"
    type: "business.business"
    business:
      contact_data:
        street_address: "972 Mission St."
        locality: "San Francisco"
        postal_code: "94103"
        country_name: "USA"
    image:
      '': "http://meedan.com/images/logos/bridge-open-graph-logo.png"
      type: "image/png"
      width: "300"
      height: "300"
    locale:
      '': en_US
    description: "Bridge enables rapid translation of social media and the addition of important cultural, social and political notes to facilitate understanding."
---

<%# Bridge branding Section %>
<section class="bridge--branding">

  <%= partial "partials/image", :locals => {
      :type => "png",
      :name => "bridge--branding-#{I18n.locale.to_s}",
      :path => "screenshots" } %>

  <div class="logo-and-slogan">
    <%= partial "partials/image", :locals => {
        :type => "svg",
        :name => "bridge-white" } %>
    <p class="slogan"><%= t('bridge.branding.slogan')%></p>
  </div>
  <div class="app-store">
    <%= partial "partials/image", :locals => {
        :type => "svg",
        :name => "app-store",
        :url  => "https://itunes.apple.com/us/app/bridge-translate-social-media/id1050310015?mt=8" } %>
  </div>
</section>

<%# Sign up section %>
<%= partial "partials/bridge_subscribe" %>

<%# Explanations %>
<%#= Store the localized explanations (in locales dir) as an array %>
<% explanations = t("bridge.explanations") %>

<section class="bridge--explanations">
  <% for i in 0...explanations.length %>
    <div class="explanation">
      <div class="header-and-description">
        <h3><%= explanations[i][:header] %></h3>
        <p><%= explanations[i][:text] %></p>
      </div>
      <%#= Render the image using a partial %>
      <%#= This assumes the images have numbered filenames %>
      <div class="screenshot">
        <%= partial "partials/image", :locals => {
            :type => "jpg",
            :path => "screenshots",
            :name => "bridge--explanation-#{i+1}-#{I18n.locale.to_s}",
            :alt => explanations[i][:alt] } %>
      </div>
    </div>
  <% end %>
</section>

<%# History%>
<section class="bridge--history typography--dense colors--inverted">
  <h3><%= t("bridge.history.header") %></h3>
  <% t("bridge.history.paragraphs").each do |e| %>
    <p><%= e[:text] %></p>
  <% end %>
</section>

<%# Logos %>
 <section class="bridge--logos">
  <h3><%= t("bridge.supporters.header")%></h3>
  <p><%= t("bridge.supporters.tagline")%></p>
  <ul class="logos">
    <li>
      <%= partial "partials/image", :locals => {
        :type => "svg",
        :name => "kf",
        :url  => "http://www.knightfoundation.org" } %>
    </li>
    <li>
      <%= partial "partials/image", :locals => {
        :type => "svg",
        :name => "ng",
        :url  => "http://www.nationalgeographic.com" } %>
    </li>
  </ul>
  <p><%= t("bridge.supporters.partner_paragraph")%></p>
</section>

<%# Sign up section %>
<%= partial "partials/bridge_subscribe" %>

<%# Footer %>
<div class="bridge--footer colors--inverted">
  <p><%= t("bridge.footer.primary") %> <%= t("bridge.branding.follow") %> </p>
  <p>
    <a href="/en/bridge/bridge_privacy.html">
      <%= t("footer.privacy") %>
    </a> |
    <a href="/en/bridge/bridge_tos.html">
      <%= t("footer.tos") %>
    </a>
  </p>
</div>
