---
layout: "default"
slug: "bridge"
---

<!-- Bridge branding Section -->
<section class="bridge--branding">
  <img class="screenshot" alt="Bridge screenshot"
  src="/images/screenshots/bridge--branding-<%= I18n.locale %>@1x.png"
  srcset="/images/screenshots/bridge--branding-<%= I18n.locale %>@2x.png 2x">

  <div class="logo-and-slogan">
    <svg class="logo" width="300" height="78"><use xlink:href="#bridge" /></svg>
    <p class="slogan"><%= t('bridge.branding.slogan')%></p>
  </div>
  <div class="appstore">
    <a href="https://itunes.apple.com/us/app/bridge-translate-social-media/id1050310015?mt=8"><svg class="appstore" width="135" height="40"><use xlink:href="#app-store-badge-135x40" /></svg></a>
  </div>
</section>

<!-- Sign up section -->
<%= partial "partials/bridge_call_to_action" %>

<!-- Explanations -->
<%#= Store the localized explanations (in locales dir) as an array %>
<% explanations = t("bridge.explanations") %>

<%#= Then loop over the array using the index %>
<section class="bridge--explanations">
  <% for i in 0...explanations.length %>
    <div class="explanation">
      <div class="header-and-description">
        <h3><%= explanations[i][:header] %></h3>
        <p><%= explanations[i][:text] %></p>
      </div>
      <%#= Render the image using a partial %>
      <%#= This assumes the images have numbered filenames %>
      <div class="screenshot">
        <%= partial "partials/_image_srcset_localized.html.erb", :locals => {
            :type => "jpg",
            :image => "screenshots/bridge--explanation-#{i+1}",
            :locale => I18n.locale.to_s,
            :alt => explanations[i][:alt],
            :classname => "screenshot"
            } %>
      </div>
    </div>
  <% end %>
</section>

<!-- History-->
<section class="bridge--history">
<h3><%= t("bridge.history.header") %></h3>
  <% t("bridge.history.paragraphs").each do |e| %>
    <p><%= e[:text] %></p>
  <% end %>
</section>

<!-- Supporters -->
 <section class="bridge--supporters">
  <h3><%= t("bridge.supporters.header")%></h3>
  <p><%= t("bridge.supporters.tagline")%></p>
  <ul class="logos">
    <li>
      <a class="kf logo" href="http://www.knightfoundation.org">
        <svg width="200"><use xlink:href="#kf" /></svg>
      </a>
    </li>
    <li>
      <a class="ng logo" href="http://www.nationalgeographic.com">
        <svg width="200"><use xlink:href="#ng" /></svg>
      </a>
    </li>
  </ul>
  <p><%= t("bridge.supporters.partner_paragraph")%></p>
</section>

<!-- App store at the footer, looks like background of cta section -->
<section class="bridge--appstore-footer">
<a href="https://itunes.apple.com/us/app/bridge-translate-social-media/id1050310015?mt=8"><svg class="appstore" width="135" height="40"><use xlink:href="#app-store-badge-135x40" /></svg></a>
</section>

<!-- Sign up section -->
<%= partial "partials/bridge_call_to_action" %>

<!-- Footer -->
<div class="bridge--footer">
  <p><%= t("bridge.footer.primary") %> <%= t("bridge.branding.follow") %> </p>
  <p><a href="/en/bridge/bridge_privacy.html"><%= t("bridge.footer.privacy") %></a> | <a href="/en/bridge/bridge_tos.html"><%= t("bridge.footer.tos") %></a></p>
</div>
