<!doctype html>
<html lang="<%= t(:locale) %>">

<%= partial "partials/head" %>

<body class="<%= page_classes %> <%= current_page.data.slug %>">
	<div style="height: 0; width: 0; position: absolute; visibility: hidden">
		<%= partial "images/vector/vector.svg" %>
	</div>

	<nav class="navbar navbar-default navbar-fixed-top">

    <div class="container-fluid" >
      <div class="navbar-header">

      <!-- Navigation hamburger button -->
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#toggle-target" aria-expanded="false">
          <span class="sr-only"><%= t("nav.toggle") %></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <!-- Meedan logo -->
        <a class="meedan-home" href="/" title="Meedan">
          <img class="meedan-logo" src="/images/2x/logos/meedan-logo-nav.png" alt="home" width="260">
        </a>
      </div>

      <!-- Two navigation ul elements -->
      <div class="collapse navbar-collapse" id="toggle-target">

        <!-- 1. The locale navigation -->
        <%= partial "partials/nav-locales.html" %>

        <!-- 2. The page navigation -->
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/en/checkdesk.html"><%= t("nav.checkdesk") %></a></li>
          <li><a href="/en/bridge.html"><%= t("nav.bridge") %></a></li>
          <li><a href="/en/about.html"><%= t("nav.about") %></a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

	<main>
		<%= yield %>
	</main>

  <!-- <script src="/javascripts/pace.js"></script> -->
  <!-- <script src="/javascripts/bootstrap.js"></script> -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

  <%= javascript_include_tag "app" %>
  <%= partial "partials/ga" %>

	</body>
</html>