<!doctype html>
<html lang="<%= t(:locale) %>">

<%= partial "partials/head" %>

<body class="<%= current_page.data.slug %>">
	<div style="height: 0; width: 0; position: absolute; visibility: hidden">
		<%= partial "images/vector/vector.svg" %>
	</div>

	<nav class="navbar navbar-default navbar-fixed-top">

    <div class="container-fluid" >
      <div class="navbar-header">

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="meedan-home" href="/" title="Meedan">
          <img src="/images/2x/logos/meedan-logo-nav.png" alt="home" width="50">
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/en/checkdesk.html">Checkdesk</a></li>
          <li><a href="/en/bridge.html">Bridge</a></li>
          <li><a href="/en/about.html">About Meedan</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <%= partial "partials/nav-locales.html" %>

	<main>
		<%= yield %>
	</main>

	<%= partial "partials/ga" %>
  <%= javascript_include_tag "pace" %>
  <%= javascript_include_tag "jquery.min" %>
  <%= javascript_include_tag "bootstrap.min" %>

	<!-- <script src="/javascripts/pace.js"></script> -->
  <!-- <script src="/javascripts/bootstrap.js"></script> -->
  <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script> -->

  <script>(function ($) {
    $(document).ready(function(){
      // // hide .navbar first
      // $(".navbar").hide();
      // // fade in .navbar
      // $(function () {
      //   $(window).scroll(function () {
      //     // set distance user needs to scroll before we fadeIn navbar
      //     if ($(this).scrollTop() > 300) {
      //       $('.navbar').fadeIn();
      //     } else {
      //       $('.navbar').fadeOut();
      //     }
      //   });
      // });
    });
  }(jQuery));
  </script>

	</body>
</html>