<!doctype html>
<html lang="<%= t(:locale) %>">

<%= partial "partials/head" %>

<body <% if I18n.locale == :ar %> dir="rtl" <% end %> class="<%= page_classes %> <%= current_page.data.slug %>">
	<div style="height: 0; width: 0; position: absolute; visibility: hidden">
		<%= partial "images/vector/vector.svg" %>
	</div>

  <% unless current_page.data.slug == "bridge-privacy" || current_page.data.slug == "bridge-tos" %>
    <%= partial "partials/bootstrap-nav.html" %>
  <% end %>

	<main>
		<%= yield %>
	</main>

  <%= javascript_include_tag "app" %>
  <%= partial "partials/ga" %>

	</body>
</html>