<!doctype html>
<html lang="en">
<%= partial "partials/head" %>
<body class="<%= current_page.data.slug %>">
	<div style="height: 0; width: 0; position: absolute; visibility: hidden">
		<%= partial "images/vector/images.svg" %>
	</div>
	<main>
		<%= yield %>
	</main>

	<%= partial "partials/ga" %>
	<script src="/pace.js"></script>
	</body>
</html>