<div class="annual_reports layout--padding-bottom">
  <div class="section-inner layout--padding-bottom">
    <h2><%= t("home.annual_report.header") %></h2>
    <p><%= t("home.annual_report.blurb") %></p>
    <a href="//next.meedan.com/2018-annual-report/"><%= t("home.annual_report.year2018") %></a>
    <br />
    <a href="/2017-annual-report/"><%= t("home.annual_report.year2017") %></a>
    <br />
    <a href="/2016-annual-report/"><%= t("home.annual_report.year2016") %></a>
    <br />
    <a href="/2015-annual-report/"><%= t("home.annual_report.year2015") %></a>
    <br />
    <a href="/2014-annual-report/"><%= t("home.annual_report.year2014") %></a>
  </div>
</div>
