<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid" >
    <div class="navbar-header">

      <!-- Navigation hamburger button -->
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-toggle-target" aria-expanded="false">
      <span class="sr-only"><%= t("nav.toggle") %></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>

      <!-- Meedan logo -->
      <a class="navbar-brand meedan-home" href="/" title="Meedan">
        <%= image_tag "logos/meedan-logo-horizontal-1@1x.png", :class => "meedan-logo", :alt => "meedan logo", srcset: 'logos/meedan-logo-horizontal-1@2x.png 2x' %>
      </a>
    </div>

    <!-- Two navigation ul elements -->
    <div class="collapse navbar-collapse" id="nav-toggle-target">

      <!-- 1. The locale navigation -->
      <!-- This comes before the page list navigation -->

      <% inactive_languages = langs - [I18n.locale] %>

      <ul class="nav locales navbar-nav navbar-right">
        <li class="active">
          <%= link_to t(I18n.locale), "/#{File.basename(current_path)}", :class => I18n.locale %>
        </li>
        <% inactive_languages.each do |lang_name| %>
          <li>
            <%= link_to t("#{lang_name}"), "/#{lang_name}/#{File.basename(current_path)}", :class => lang_name %>
          </li>
        <% end %>
      </ul>

      <!-- 2. The page navigation -->
      <!-- Loop through each page -->
      <% nav_pages = ["checkdesk", "bridge", "about"] %>
      <ul class="nav navbar-nav navbar-right pages">
        <% nav_pages.each do |page| %>
        <%= "<li class='#{page}'>" %>
          <%= link_to t("nav.#{page}"), "/#{t("locale")}/#{page}" %>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

