<!-- This is temporary styling for the ul nav until we have translations for all the other pages-->
<style>
ul.locales {position: absolute;
    top: 60px;
    right: 0;
    margin: 0.8em;
    padding: 0.3em 1em;
    background-color: rgba(255,255,255,0.1);
    border-radius: 5em;
  }
</style>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid" >
    <div class="navbar-header">

      <!-- Navigation hamburger button -->
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-toggle-target" aria-expanded="false">
      <span class="sr-only"><%= t("nav.toggle") %></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>

      <!-- Meedan logo -->
      <a class="navbar-brand meedan-home" href="/" title="Meedan">
        <%= image_tag "logos/meedan-logo-horizontal-1@1x.png", :class => "meedan-logo", :alt => "meedan logo", srcset: 'logos/meedan-logo-horizontal-1@2x.png 2x' %>
      </a>
    </div>

    <!-- Two navigation ul elements -->
    <div class="collapse navbar-collapse" id="nav-toggle-target">


      <!-- 1. The locale navigation -->
      <!-- This comes before the page list navigation -->

      <% if current_page.data.slug == "checkdesk"%>
      <% inactive_languages = langs - [I18n.locale] %>

      <ul class="nav locales navbar-nav">
        <li class="active">
          <%= link_to t(I18n.locale), "/#{File.dirname(current_path)}", :class => I18n.locale %>
        </li>
        <% inactive_languages.each do |lang_name| %>
          <li>
            <%= link_to t("#{lang_name}"), "/#{lang_name}/#{current_page.data.slug}", :class => lang_name %>
          </li>
        <% end %>
      </ul>
      <%end%>

      <!-- 2. The page navigation -->
      <!-- Loop through each page -->
      <% nav_pages = ["checkdesk", "bridge", "about"] %>
      <ul class="nav navbar-nav pages">
        <% nav_pages.each do |page| %>
        <%= "<li class='#{page}'>" %>
          <%= link_to t("nav.#{page}"), "/#{t("locale")}/#{page}" %>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
