<% slug = current_page.data.slug %>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# business: http://ogp.me/ns/business#">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/images/favicons/favicon.ico?v=1">
  <title><%= slug.capitalize.gsub("-", " ") %> | Meedan</title>

  <%# Render Arabic stylesheet %>
  <% if I18n.locale == :ar %>
    <%= stylesheet_link_tag "stylesheets/locale__ar" %>
  <% end %>

  <%# Render OGP tags %>
  <%- ogp_tags do |name, value| %>
    <%= "<meta property='#{name}' content='#{value}'>" %>
  <% end %>

  <%# Shared styles %>
  <%= stylesheet_link_tag "stylesheets/shared/shared.css" %>

  <%# Print styles, only for annual reports %>
  <% if slug.include?("annual-report") %>
    <%= stylesheet_link_tag "stylesheets/print" %>
  <% end %>

  <% if slug.match(/TOS/).present? || slug.match(/privacy/).present? %>
    <%# Bridge and Check TOS and Privacy pages%>
    <%= stylesheet_link_tag "stylesheets/page__policy" %>
  <% else %>
    <%# Page-specific styles %>
    <%= stylesheet_link_tag "stylesheets/page__#{current_page.data.slug.downcase}" %>
  <% end %>
</head>
