<section class="supporters">
  <h3>Our Supporters</h3>
  <p>Since 2006, Meedan has worked with a network of extraordinary sponsors, clients, and partners.</p>
  <div class="logos">
  	<ul>
	  	<% data.supporter_logos.each do |logo| %>
	  	<li>
	  		<a class="<%=logo.name %>" href="<%=logo.url %>">
	      <% if logo.type == "svg" %>
	      	<svg width="200"><use xlink:href="#<%=logo.name %>" /></svg>
	      <% elsif logo.type == "png" %>
	      	<img src="/images/1x/logos/<%= logo.name %>.png" alt="<% logo.name %>" srcset="/images/2x/logos/<%= logo.name %>.png 2x">
	      <% end %>
	    	</a>
	    </li>
	    <% end %>
  	</ul>
  </div>
</section>
