<%# (linked) image helper — handles jpg, png and svg. The link is optional.

USAGE:

partial "partials/_image.html.erb", :locals => {
        :type => "svg",
        :name => "awards",
        :url  => "false" }

        #renders awards.svg, assuming it's been compiled into vectors.svg (there is a gulp task to do this)
%>

<% if url %>
  <a class="<%= name %>" href="<%= url %>">
<% end %>
<% if type == "svg" %>
  <svg class="<%= name %>" width="100"><use xlink:href="#<%= name %>" /></svg>
<% elsif type == "png" %>
  <img class="<%= name %>" src="/images/logos/<%= name %>@1x.png" alt="<%= name %>" srcset="/images/logos/<%= name %>@2x.png 2x">
<% elsif type == "jpg" %>
  <img class="<%= name %>" src="/images/logos/<%= name %>@1x.jpg" alt="<%= name %>" srcset="/images/logos/<%= name %>@2x.jpg 2x">
<% end %>
<% if url %>
  </a>
<% end %>
