<%# (linked) image helper — handles jpg, png and svg. The link is optional.

USAGE:

partial "partials/_image.html.erb", :locals => {
        :type => "svg",
        :name => "awards",
        :url  => "false" }
%>

<% if url %>
  <a class="<%= name %>" href="<%= url %>">
<% end %>
<% if type == "svg" %>
  <img class="<%= name %>" src="/images/logos/<%= name %>.svg" alt="<%= name %>">
<% elsif type == "png" || type == "jpg" %>
  <img class="<%= name %>" src="/images/logos/<%= name %>@1x.<%= type %>" alt="<%= name %>" srcset="/images/logos/<%= name %>@2x.<%= type %> 2x">
<% if url %>
  </a>
<% end %>
