<nav class="primary-nav">
  <!-- Meedan logo -->
  <a class="meedan-home" href="/" title="Meedan">
    <%= image_tag "logos/meedan-logo-horizontal-1@1x.png", :class => "meedan-logo", :alt => "meedan logo", srcset: 'logos/meedan-logo-horizontal-1@2x.png 2x' %>
  </a>

  <!-- 1. The locale navigation -->
  <!-- This comes before the page list navigation -->
  <% if current_page.data.slug == "check"%>
    <% inactive_languages = langs - [I18n.locale] %>

    <ul class="locales">
      <li class="active <%= I18n.locale %>">
        <%= link_to t(I18n.locale), "/#{File.dirname(current_path)}", :class => I18n.locale %>
      </li>
      <% inactive_languages.each do |lang_name| %>
        <li class="<%= lang_name %>">
          <%= link_to t(lang_name), "/#{lang_name}/#{current_page.data.slug}", :class => lang_name %>
        </li>
      <% end %>
    </ul>
  <%end%>

  <!-- 2. The page navigation -->
  <!-- Loop through each page -->
  <% nav_pages = ["check", "bridge", "about"] %>
  <ul class="pages">
    <% nav_pages.each do |page| %>
    <li class=<%= page %>>

      <!-- Temporary logic 2015 Oct 29 CGB  -->
      <!-- Remove this once site is localized ...-->
      <%= link_to t("nav.#{page}"), "/en/#{page}" %>

      <!-- ... and instead do  -->
      <%#= link_to t("nav.#{page}"), "/#{t("locale")}/#{page}" %>
    </li>
    <% end %>
  </ul>
</nav>
