<main class="policy">
  <h1><%= product_name %> Terms of Service</h1>

  <p class="meta">Last modified: June 10, 2019</p>

  <h3>Welcome to Meedan!</h3>

  <p>Check, Bridge and Montage are web applications developed by Meedan, Inc. (“Meedan”), a San Francisco-based 501 c3 nonprofit international media and open source technology do-tank, and Meedan Labs, Inc., brought together under Meedan’s open source code. Our goal in developing Check, Bridge and Montage was to make the world a better, more cross-lingual, cross-cultural, and informed place. Really. We hope these Terms of Service (the “TOS” or “Terms”) reflect our commitment to these values. Through the Terms, we want to inform you of your legal obligations as a user and our legal obligations to you as the company that has designed and deployed this software. At its core, Meedan is a project founded on the values of collaboration and open source approaches to content and code development.</p>

  <h3>The Services</h3>

  <p>The Terms apply to the products and services provided by Meedan, Inc. (“Meedan”) and Meedan Labs, Inc., including but not limited to those products and services provided through Meedan.com and those services provided through Application Programming Interfaces (the “Services”).</p>

  <p>The Services do not include any third-party software, application, widget, or integration used in concert with <%= product_name %>. An example of such might be Slack. Any such third-party technologies have their own terms of service. The Terms only apply to our Services.</p>

  <h3>Your Agreement to the Terms</h3>

  <p>By visiting the website or using the Services you agree to the Terms. You acknowledge that this TOS is a contract between you and Meedan, and it governs your use of the Services. You also agree to abide by our <a href="http://help.checkmedia.org/en/articles/3673633-community-guidelines">Community Guidelines</a> and Privacy Policy that are incorporated by reference.</p>

  <p>If you are accessing our Services in the scope of your employment or you are entering into this TOS on behalf of a legal entity, then you represent and warrant that you have the authority to enter into the Terms on behalf of your employer or that entity and to bind any affiliates, users, clients, or other associated parties to these TOS. If you do not have this authority, you may not use our Services. If you do represent a corporation, government, organization, or any other legal entity, the “you” or “your”, refer to that entity and all affiliates, members, and administrators, as applicable.</p>

  <h3>Changes to the Terms</h3>

  <p>We reserve the right to modify any aspect of the Services at any time. Although we may attempt to notify you when major changes are made to the Terms, it is your responsibility to review the current version of this agreement to keep abreast of any changes. Any modifications made to this agreement go into effect immediately.</p>

  <p>Archived versions of the Terms are kept at: <a href="https://github.com/meedan/meedan.com">https://github.com/meedan/meedan.com</a></p>

  <h3>Using our Services</h3>

  <p>Our Services depend on the honest intentions and good faith of our community. Do not misuse our Services or intentionally mislead our users. You agree to not use the Services in a way that interferes with other users’ enjoyment of the Services. You further agree to abide by with the <a href="http://help.checkmedia.org/en/articles/3673633-community-guidelines">Community Guidelines</a> that have been incorporated by reference into these Terms.</p>

  <p>Our Services include user-generated content. Although we take pride in our community, we are not responsible for user content. You agree that you will only post content on the Services that you are legally entitled to post under copyright and other relevant laws. You may not post anything illegal on our Services. Our Services may only be used for lawful purposes.  You represent and warrant that the content that you post does not violate the Terms or any applicable laws.</p>

  <p>We may review content before it is posted. We reserve the right, but have no obligation, to delete content and block content from being posted. If you come across content that you believe should not be on our Services, please let us know. We reserve the right, but have no obligation, to monitor disputes between you and other users.</p>

  <p>While using our Services, you may encounter links to third-party websites or services. Please be aware that our Terms, Privacy Policy, and <a href="http://help.checkmedia.org/en/articles/3673633-community-guidelines">Community Guidelines</a> do not apply to third-party websites and services. We cannot control the content and use of third-party websites and services, and do not endorse them or their content. By using our Services, you expressly relieve Meedan from any and all liability arising out of the use of a third-party service or website.</p>

  <h3>Account</h3>

  <p>Our Services may require you to create an account with us. You affirm that all information provided by you during the registration process is accurate.</p>

  <p>You are solely responsible for the actions taken by your account. It is therefore important that you take appropriate measures to secure your account and password. Specifically, do not share your password with anyone. Do not share your account with anyone. If you are using an account administered by an organization, do not allow anyone other than authorized administrators of your account to use your account. Please notify us immediately if you suspect there has been unauthorized use of your account. We are not liable for any damages arising out of the unauthorized use or loss of control of your account.</p>

  <p>Meedan reserves the right to terminate your account or restrict access to your account, or to delete any content posted through your account, with or without notice, for any or for no reason whatsoever. Meedan is not liable for damages arising out of account termination, access restriction, or content deletion.</p>

  <h3>User Age</h3>

  <p>By using our Services, you affirm that you are over the age of 18 or an emancipated minor, or have legal parental or guardian assent, and are fully able to enter into, and abide by, this agreement in its entirety.</p>

  <p>Our Services are intended for users thirteen years of age or older. If you are under thirteen and using our Services, please discontinue use immediately and have your parent or legal guardian notify us so that we can remove your data from our Services.</p>

  <h3>Software</h3>

  <p>Meedan gives you a personal, worldwide, royalty-free, non-assignable and non-exclusive license to use the software provided to you by Meedan as part of the Services. This license is only provided for your benefit as a user of our Services. You are not permitted to copy, modify, distribute, sell, or lease any part of the software included in the Services. You may not attempt to reverse-engineer or attempt to extract any part of the software used in the Services.</p>

  <p>Meedan believes in open-source software. Some of our Services may use software made available under an open-source license. The provisions of any such licenses will override the licensing provisions of the Terms.</p>

  <p>We may make some of our Services available via Application Programming Interfaces (APIs). Using our Services through an API signifies your agreement to these Terms. In addition, by using our API:
    <ul>
      <li>You expressly understand and agree that Meedan shall not be liable for any damages or losses resulting from your use of the API or third-party products that access data via the API.</li>

      <li>You agree, when pushing content onto your webpages or applications, to inform users about how your app or website or service copies, caches, stores or retains any content or data, and refresh any stored or cached content or data at a reasonable interval, and to include a privacy policy that is readily accessible from all pages of your app or website and that complies with all applicable laws.</li>

      <li>You agree not to place excessive API calls to our systems or otherwise overburden our systems, as determined by us, in our sole discretion.</li>

      <li>You agree not to share or misuse your API token.</li>

      <li>You agree not to use any information provided by <%= product_name %> users (including content) to market any products or services that are competitive with <%= product_name %> or any Meedan Labs products, or allow third parties to do so. This obligation survives any expiration or termination of these Terms.</li>

      <li>You agree not to display, cache or store user passwords.</li>
    </ul>

  <h3>Content Rights</h3>

  <p>If applicable, you retain ownership of any content that you post on our Services. To the fullest extent possible, you grant Meedan an unlimited, world-wide, non-revocable, royalty-free license or sublicense to reproduce, distribute, prepare derivative works of, display, and use all content you post on our Services in any form through any media channels. This license permits Meedan to use your content to showcase and advertise our Services, and to use and provide the content to partners for research purposes. You can view our <a href="<%=product_name.downcase%>_privacy.html">Privacy Policy here</a>.

  <h3>Translation, Accuracy, and Translation Rights</h3>

  <p>Bridge allows you to translate across language boundaries on the internet as a means of increasing knowledge dissemination and improving global communications. We view our work to create translations as enabling an annotation layer on top of publicly available knowledge.</p>

  <p>We do not assume any translation rights to any content our users choose to translate, annotate (with text, voice, image, or video), or transcribe (with text or audio).</p>

  <p>We do not make any claims to the independent quality or accuracy of translations and annotations. Furthermore, we do not make any claims to the relative quality indicated through reputational, rating, or experience metrics that might be expressed for individual translators or individual translations.</p>

  <p><strong>At risk of repeating ourselves, we make no guarantees nor make any claim to the accuracy or quality of any translated content of any sort. Always engage with a professional translation agency if you want professional translation. All translations on Bridge are provided on an “as is” basis. Use at your own risk.</strong></p>

  <p>In using our Services, you acknowledge this express limitation. If you are a content creator whose works have been translated by a user and you wish to opt out of any future translation, please send a note expressing this to <a href="mailto:DoNotTranslate@Meedan.com">DoNotTranslate@Meedan.com</a> with detailed information on the account or specific content you wish to have removed.</p>

  <h3>Warranty Disclaimer</h3>

  <p>You agree that your use of the Services shall be at your sole risk. To the fullest extent permitted by law, Meedan, its officers, directors, employees, and agents disclaim all warranties, express or implied, in connection with the Services and your use of them.</p>

  <p>Meedan makes no warranties or representations about the accuracy or completeness of this site's content or the content of any sites linked to this site and assumes no liability or responsibility for any:
    <ol>
      <li>Errors, mistakes, or inaccuracies of content whether provided by Meedan or our users;</li>

      <li>personal injury or property damage, of any nature whatsoever, resulting from your access to and use of our Services;</li>

      <li>any unauthorized access to or use of our secure servers and/or any and all personal information and/or financial information stored therein;</li>

      <li>any interruption or cessation of transmission to or from our Services;</li>

      <li>any malware, viruses, or like computer instructions that may be transmitted to or through our Services by any third party; and/or</li>

      <li>any errors or omissions in any content or for any loss or damage of any kind incurred as a result of the use of any content emailed, posted, or otherwise made available via the Services.</li>
    </ol>

  <p>Meedan does not warrant, endorse, guarantee, or assume responsibility for any product or service appearing or linked to within our Services or on our website.</p>

  <h3>Limitation of Liability</h3>

  <p>In no event shall Meedan, its officers, directors, employees, or agents, be liable to you for any direct, indirect, incidental, special, punitive, or consequential damages based on any legal theory resulting from any
    <ul>
      <li>Errors, mistakes, or inaccuracies of content, including inaccurate translations or verifications;</li>

      <li>personal injury or property damage, of any nature whatsoever, resulting from your access to and use of our Services;</li>

      <li>any unauthorized access to or use of our secure servers and/or any and all personal information and/or financial information stored therein;</li>

      <li>any interruption or cessation of transmission to or from our Services;</li>

      <li>any malware, viruses, trojan horses, or other computer instructions designed to harm or take advantage, that may be transmitted to or through our Services by any third party; and/or</li>

      <li>any errors or omissions in any content or for any loss or damage of any kind incurred as a result of your use of any content posted, emailed, transmitted, or otherwise made available via the Services based on any legal theory, and whether or not the company is advised of the possibility of such damages.</li>
    </ul>

  <p>You specifically acknowledge that Meedan shall not be liable for content or the defamatory, offensive, or illegal conduct of any third party and that the risk of harm or damage from the foregoing rests entirely with you.</p>

  <p>Certain jurisdictions do not permit the exclusion of certain warranties or the limitations of liability for incidental or consequential damages. This means that some of the above limitations may not apply to you. In these jurisdictions, the foregoing exclusions and limitations will be enforced to the greatest extent permitted by applicable law.</p>

  <h3>Indemnification</h3>

  <p>To the extent authorized by law, you agree to indemnify and hold harmless Meedan, its employees, officers, directors, affiliates, and agents from and against any and all claims, losses, expenses, damages, and costs, including reasonable attorneys’ fees, resulting directly or indirectly from or arising out of (a) your violation of the Terms, (b) your use of any of the Services, and/or the content you make available on any of the Services.</p>

  <h3>Digital Millennium Copyright Act and Copyright Policy</h3>

  <p>Meedan respects copyright, and we prohibit users of the Services from submitting, uploading, posting, or otherwise transmitting any Content on the Services that violates another person’s proprietary rights.</p>

  <p>To report allegedly infringing content hosted on a website owned or controlled by Meedan, send a notice of infringing materials as set out in <a href="../copyright">Meedan’s Copyright Policy</a>.</p>

  <h3>Repeat Infringers</h3>

  <p>In accordance with Section 512(i)(1)(a) of the DMCA, Meedan will, in appropriate circumstances, disable and/or terminate the accounts of users who are repeat infringers.</p>

  <h3>Termination</h3>

  <p>Meedan may modify, suspend, or terminate the operation of, or access to, all or any portion of the Services at any time, for any reason or no reason whatsoever, at our sole discretion.</p>

  <p>If you wish to terminate this agreement, you may immediately stop accessing or using the Services at any time. Your right to access and use the Services (including use of your account) terminates automatically upon your breach of any of the Terms.</p>

  <p>The disclaimer of warranties, the limitation of liability, and the jurisdiction and applicable law provisions will survive any termination. The license grants applicable to your content are not impacted by the termination of the Terms and shall continue in effect subject to the terms of the applicable license. Any obligations resulting from your use of the API will survive termination. Your indemnification obligations will survive for one year after termination.</p>

  <h3>Language of the Terms</h3>

  <p>These Terms were originally written in English (US). We may translate these Terms into other languages for informational purposes. In the event of a conflict between a translated version of these Terms and the English version, the English version will control.</p>

  <h3>Governing Law</h3>

  <p>This agreement constitutes the entire agreement between Meedan and you concerning the subject matter hereof, and they may only be modified by a written amendment signed by an authorized executive of Meedan, or by the posting by Meedan of a revised version.</p>

  <p>Except to the extent applicable law, if any, provides otherwise, this agreement and any access to or use of the Website will be governed by the laws of the state of California, U.S.A., excluding its conflict of law provisions.</p>

  <p>The proper venue for any disputes not resolved by arbitration arising out of or relating to any of the same will be the state and federal courts located in San Francisco County, California.</p>

  <p>You and Meedan agree that any cause of action arising out of or related to the services must commence within one (1) year after the cause of action accrues. otherwise, such cause of action is permanently barred.</p>

  <h3>Arbitration</h3>

  <p>Except for claims for injunctive or equitable relief or claims regarding intellectual property rights any dispute arising out of this agreement or relating to the use of our services shall be finally settled in accordance with the comprehensive arbitration rules of the Judicial Arbitration and Mediation Service, Inc. (JAMS) by three arbitrators appointed in accordance with such rules.</p>

  <p>The arbitration shall take place in San Francisco, California, in the English language and the arbitral decision may be enforced in any court. The prevailing party in any action or proceeding to enforce this agreement shall be entitled to costs and attorneys’ fees.</p>

  <h3>Miscellaneous</h3>

  <p>If any part of this agreement is held invalid or unenforceable, that part will be construed to reflect the parties’ original intent, and the remaining portions will remain in full force and effect. Any examples provided in this agreement are illustrative and non-exclusive.</p>

  <p>None of these terms or conditions represent a waiver of any other terms and conditions of this agreement or the terms and conditions of any other agreement entered into between Meedan and you. A waiver by either party of any term or condition of this Agreement or any breach thereof, in any one instance, will not waive such term or condition or any subsequent breach thereof. Furthermore, Meedan’s failure to assert any right or provision included in this agreement does not constitute a waiver of that right.</p>

  <p>You may assign your rights under this agreement to any party that consents to, and agrees to be bound by, its terms and conditions; Meedan may assign its rights under this agreement without condition. This agreement will be binding upon and will inure to the benefit of the parties, their successors and permitted assigns.</p>
</main>
