---
layout: "default"
slug: "branding_guide"
---

<section class="logos">
  <div class="section-inner">
    <h2>Meedan logos</h2>

      <%= partial "partials/downloadable_image", :locals => {
        :name => "meedan-logo",
        :type => "svg",
        :description => "Vector SVG suitable for web and print in color at any size.",
      } %>

      <%= partial "partials/downloadable_image", :locals => {
        :name => "meedan-logo-horizontal-1@1x",
        :type => "png",
        :description => "130x30px",
      } %>

      <%= partial "partials/downloadable_image", :locals => {
        :name => "meedan-logo-horizontal-3@1x",
        :type => "png",
        :description => "200x46px",
      } %>

      <%= partial "partials/downloadable_image", :locals => {
        :name => "meedan-logo-horizontal-3@2x",
        :type => "png",
        :description => "400x92px",
      } %>

      <%= partial "partials/downloadable_image", :locals => {
        :name => "meedan-logo-nav",
        :type => "svg",
        :description => "any",
      } %>

      <%= partial "partials/downloadable_image", :locals => {
        :name => "meedan-logo-text",
        :type => "svg",
        :description => "any",
      } %>

      <%= partial "partials/downloadable_image", :locals => {
        :name => "meedan-logo",
        :type => "svg",
        :description => "any",
      } %>

      <%= partial "partials/downloadable_image", :locals => {
        :name => "meedan-logo@1x",
        :type => "png",
        :description => "300x235",
      } %>

      <%= partial "partials/downloadable_image", :locals => {
        :name => "meedan-logo@2x",
        :type => "png",
        :description => "381x298",
      } %>

      <%= partial "partials/downloadable_image", :locals => {
        :name => "meedan-wordmark",
        :type => "svg",
        :description => "Any",
      } %>

    <h2>Check logos</h2>

    <%= partial "partials/downloadable_image", :locals => {
      :name => "check-white",
      :type => "svg",
      :description => "Any",
      :classes => "inverted"
    } %>

    <%= partial "partials/downloadable_image", :locals => {
      :name => "check-open-graph-logo",
      :type => "png",
      :description => "300x300px",
    } %>

    <h2>Bridge logos</h2>

    <%= partial "partials/downloadable_image", :locals => {
      :name => "bridge-white",
      :type => "svg",
      :description => "Any",
      :classes => "inverted"
    } %>

  </div>
</section>

