---
layout: "default"
slug: "branding_guide"
---

<section class="logos">
  <div class="section-inner">
    <h2>Meedan logos</h2>

      <%= partial "partials/downloadable_image", :locals => {
        :name => "meedan-logo@2x",
        :type => "png",
        :description => "381x298",
      } %>

      <%= partial "partials/downloadable_image", :locals => {
        :name => "meedan-logo@1x",
        :type => "png",
        :description => "300x235",
      } %>

      <%= partial "partials/downloadable_image", :locals => {
        :name => "meedan-logo",
        :type => "svg",
        :description => "any",
      } %>

      <%= partial "partials/downloadable_image", :locals => {
        :name => "meedan-logo-horizontal-3@2x",
        :type => "png",
        :description => "400x92px",
      } %>

      <%= partial "partials/downloadable_image", :locals => {
        :name => "meedan-logo-nav",
        :type => "svg",
        :description => "any",
      } %>

      <%= partial "partials/downloadable_image", :locals => {
        :name => "meedan-logo-horizontal-3@1x",
        :type => "png",
        :description => "200x46px",
      } %>

      <%= partial "partials/downloadable_image", :locals => {
        :name => "meedan-logo-horizontal-1@1x",
        :type => "png",
        :description => "130x30px",
      } %>

      <%= partial "partials/downloadable_image", :locals => {
        :name => "meedan-logo-text",
        :type => "svg",
        :description => "any",
      } %>

      <%= partial "partials/downloadable_image", :locals => {
        :name => "meedan-black-horizontal@2x",
        :type => "png",
        :description => "510x164",
      } %>

      <%= partial "partials/downloadable_image", :locals => {
        :name => "meedan-black-horizontal-text",
        :type => "png",
        :description => "255x82",
      } %>

      <%= partial "partials/downloadable_image", :locals => {
        :name => "meedan-black-horizontal-text",
        :type => "svg",
        :description => "any",
      } %>

      <%= partial "partials/downloadable_image", :locals => {
        :name => "meedan-black-text-268",
        :type => "png",
        :description => "268x248px",
      } %>


      <%= partial "partials/downloadable_image", :locals => {
        :name => "meedan-black-text-134",
        :type => "png",
        :description => "134x124",
      } %>

      <%= partial "partials/downloadable_image", :locals => {
        :name => "meedan-black-text",
        :type => "svg",
        :description => "any",
      } %>

      <%= partial "partials/downloadable_image", :locals => {
        :name => "meedan-black",
        :type => "svg",
        :description => "Any",
      } %>

    <h2>Check logos</h2>

    <%= partial "partials/downloadable_image", :locals => {
      :name => "check-white",
      :type => "svg",
      :description => "Any",
      :classes => "inverted"
    } %>

    <%= partial "partials/downloadable_image", :locals => {
      :name => "check-open-graph-logo",
      :type => "png",
      :description => "300x300px",
    } %>

    <h2>Bridge logos</h2>

    <%= partial "partials/downloadable_image", :locals => {
      :name => "bridge-white",
      :type => "svg",
      :description => "Any",
      :classes => "inverted"
    } %>

  </div>
</section>

