---
layout: "default"
slug: "home"
---
<%= partial "partials/language_toggle.html" %>


<!-- Homepage Branding -->
<section class="branding">

  <svg class="logo" width="100">
    <use xlink:href="#labs" />
  </svg>

  <h1><%= t("home.branding.title") %></h1>

  <p class="slogan"><%= t("home.branding.slogan") %></p>

  <p class="about"><%= t("home.branding.about") %></p>
</section>

<!-- Homepage Projects -->
<section class="projects">

  <h3><%= t("home.projects.title") %></h3>

  <div class="checkdesk">
    <%= partial "partials/image.html.erb",
    :locals => {
        :url => "/checkdesk",
        :name => "checkdeskwhite",
        :type => "svg"} %>

    <p class="tagline">
      <%= t("home.projects.checkdesk.tagline") %>
    </p>

    <p class="blurb">
      <%= t("home.projects.checkdesk.blurb") %>
    </p>

    <p class="learn">
      <a href="<%= t("home.projects.checkdesk.learn_more_url") %>">
        <%= t("home.projects.checkdesk.learn_more") %>
      </a>
      <a class="github" href="<%= t("home.projects.checkdesk.github_url") %>">
        <%= t("home.projects.checkdesk.github_text") %>
      </a>
    </p>
  </div>

  <div class="bridge">

    <%= partial "partials/image.html.erb",
    :locals => {
        :url => "/bridge",
        :name => "bridge",
        :type => "svg"} %>

    <p class="tagline"><%= t("home.projects.bridge.tagline") %></p>

    <p class="blurb"><%= t("home.projects.bridge.blurb") %></p>

    <p class="learn">
      <a href='<%= t("home.projects.bridge.learn_more_url") %>'>
        <%= t("home.projects.bridge.learn_more_text") %>
      </a>
    </p>
  </div>
</section>

<!-- Homepage Team -->
<section class="team">
  <h3><%= t("home.team.header") %></h3>
  <p><%= t("home.team.text") %></p>
  <ul>
    <% data.team_members.each do |member| %>
    <li>
      <img src="/images/1x/team/<%= member.name %>.jpg" alt="<%= member.name %>" srcset="/images/2x/team/<%= member.name %>.jpg 2x">
      <div class="name"><%= member.fullname %></div>
      <div class="title"><%= member.title %></div>
    </li>
    <% end %>
  </ul>
</section>

<!-- Homepage Latest -->
<%= partial "partials/home_latest" %>

<!-- Homepage Supporters -->
<section class="supporters">
  <h3><%= t("home.supporters.header") %></h3>
  <p><%= t("home.supporters.text") %></p>
  <div class="logos">
    <ul>
      <% data.supporter_logos.each do |logo| %>
      <li>
        <%= partial "partials/_image.html.erb",
          :locals => { :type => logo[:type], :name => logo[:name], :url => logo[:url]} %>
      </li>
      <% end %>
    </ul>
  </div>
</section>

<!-- Homepage Photo Frame -->
<%= partial "partials/home_photo_frame" %>

<!-- Homepage Contact -->
<%= partial "partials/contact" %>