---
layout: "default"
slug: "home"
---

<%# Homepage Branding %>
<section class="home__lead">
  <div class="section-inner">
    <p class="slogan"><%= t("home.branding.slogan") %></p>
    <p class="about"><%= t("home.branding.about") %></p>
  </div>
</section>

<%# Homepage apps %>
<section class="home__apps layout--padding-bottom">
  <div class="section-inner">
    <h3><%= t("home.apps.title") %></h3>

    <div class="apps">
      <%# Check app %>
      <div class="app app__check">
        <div class="logo-container">
          <%= partial "partials/image", :locals => {
              :url => "/" + I18n.locale.to_s + "/check",
              :name => "check-white",
              :type => "svg" } %>
        </div>

        <p class="tagline">
          <%= t("home.apps.check.tagline") %>
        </p>

        <p class="blurb">
          <%= t("home.apps.check.blurb") %>
        </p>

        <p class="learn">
          <a href="<%= t("home.apps.check.learn_more_url") %>">
            <%= t("home.apps.check.learn_more_text") %>
          </a>
        </p>
      </div>

      <%# Bridge app %>
      <div class="app app__bridge">
        <div class="logo-container">

          <%= partial "partials/image", :locals => {
              :url => "/" + I18n.locale.to_s + "/bridge",
              :name => "bridge-white",
              :type => "svg" } %>
        </div>

        <p class="tagline"><%= t("home.apps.bridge.tagline") %></p>

        <p class="blurb"><%= t("home.apps.bridge.blurb") %></p>

        <p class="learn">
          <a href='<%= t("home.apps.bridge.learn_more_url") %>'>
            <%= t("home.apps.bridge.learn_more_text") %>
          </a>
        </p>
      </div>
    </div>
  </div>
</section>

<%# Recent press %>
<section class="home__recent-press">
  <div class="section-inner">
    <h3><%= t("about.recent_press.header") %></h3>
    <%= partial "partials/press_blurbs" %>
  </div>
</section>

<%# Homepage Latest %>
<script async src="https://static.medium.com/embed.js"></script>
<section class="home__medium-channels">
  <div class="section-inner">
    <h3><%= t("home.latest.header") %></h3>
    <p><%= t("home.latest.text") %></p>

    <div class="medium-channels">
      <%= partial "partials/_rss_channel.erb", :locals => {
        :title => "Meedan Updates",
        :url => "https://medium.com/feed/meedan-updates",
        :tagline => "Verification, global journalism and Meedan activities",
        } 
      %>

      <%= partial "partials/_rss_channel.erb", :locals => {
        :title => "Words About Words",
        :url => "https://medium.com/feed/meedan-labs",
        :tagline => "Thoughts on language and the global internet",
        }
      %>
    </div>
  </div>
</section>

<%# Homepage Supporters %>
<section class="home__logos layout--padding-bottom">
  <div class="section-inner">
    <h3><%= t("home.supporters.header") %></h3>
    <p><%= t("home.supporters.text") %></p>
    <ul class="logos">
      <% (data.check_supporter_logos +  data.other_supporter_logos).uniq.each do |logo| %>


      <li>
        <%=
        partial "partials/image",
            :locals => {
            :type => logo[:type],
            :name => logo[:name],
            :url => logo[:url] } %>
      </li>
      <% end %>
    </ul>
  </div>
</section>

<%# Homepage Donate %>
<%= partial "partials/donate" %>


<%# Homepage Photo Frame %>
<section class="home__background-photo">
  <div class="section-inner">
    <p><%= t("home.photo_frame") %></p>
  </div>
</section>

<%# Homepage Contact %>
<%= partial "partials/contact" %>
