---
layout: "default"
slug: "check"
ogp:
  og:
    site: "@check"
    card: "summary"
    title: "Check"
    url: "http://meedan.com/check"
    type: "business.business"
    image:
      '': "http://meedan.com/images/logos/check-open-graph-logo.png"
      type: "image/png"
      width: "300"
      height: "300"
    locale:
      '': en_US
    description: "Verify digital media consistently and openly for your team and your readers."
---

<%# Branding %>
<section class="check__branding">
  <div class="section-inner">

    <%= partial "partials/image", :locals => {
        :type => "svg",
        :name => "check-white",
        :url  => "/#{I18n.locale}/check" } %>

    <p class="slogan">
      <%= t("check.branding.slogan") %>
    </p>

    <div class="drawing-1">
      <div class="in-progress">
        <h5>In progress</h5>
        <%= partial "partials/drawing_social_media_card" %>
      </div>
      <div class="false">
        <h5>False</h5>
        <%= partial "partials/drawing_social_media_card" %>
      </div>
      <div class="true">
        <h5>True</h5>
        <%= partial "partials/drawing_social_media_card" %>
      </div>
    </div>
  </div>
</section>

<section class="check__featured-client">
  <div class="section-inner row">

    <div class="sign-up layout--padding-top layout--padding-right">
      <p>Want to try out Check? Sign up now for a free trial and to learn more about how your team can use Check in your daily work.</p>

      <p><%= partial "partials/typeform__check" %></p>
    </div>

    <h3>
      As used during
      <span class="link__electionland">
        <a href='https://medium.com/meedan-updates/checking-the-vote-how-check-was-used-during-electionland-4242dd875e4b#.eaxlz5rvo'>Electionland</a>
        <%= partial "partials/image", :locals => {
        :type => "svg",
        :name => "electionland-small",
        :url  => "https://medium.com/meedan-updates/checking-the-vote-how-check-was-used-during-electionland-4242dd875e4b#.eaxlz5rvo" } %>
      </span>
      <span class="link__crosscheck">
        and&nbsp;
        <a href='https://firstdraftnews.com/crosscheck-launches/'>CrossCheck</a>
        <%= partial "partials/image", :locals => {
        :type => "png",
        :name => "crosscheck-small",
        :url  => "https://firstdraftnews.com/crosscheck-launches/" } %>
      </span>
    </h3>
  </div>
</section>

<section class="check__video layout--padding-top">
  <div class="section-inner">
      <script src="https://fast.wistia.com/embed/medias/zjsrfr333e.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_zjsrfr333e videoFoam=true" style="height:100%;position:relative;width:100%"><div class="wistia_swatch" style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;"><img src="https://fast.wistia.com/embed/medias/zjsrfr333e/swatch" style="filter:blur(5px);height:100%;object-fit:contain;width:100%;" alt="" onload="this.parentNode.style.opacity=1;" /></div></div></div></div>
  </div>
</section>

<%# Explanations 1, 2, 3 %>
<section class="check__explanations">
  <div class="section-inner">
    <% explanations = t("check.explanations") %>
    <% for i in 0...explanations.length %>
      <div class="explanation row">
        <div class="header-and-description">
          <h3><%= explanations[i][:header] %></h3>
          <p><%= explanations[i][:text] %></p>
        </div>

        <div class="screenshot">
          <%= partial "partials/image", :locals => {
            :type   => "jpg",
            :path   => "screenshots",
            :name  => "check__explanation-#{i+1}-#{I18n.locale.to_s}",
            :alt    => explanations[i][:alt],
            :classname  => "screenshot"
            } %>
        </div>
      </div>
    <% end %>
  </div>
</section>

<%# Partners %>
<section class="check__logos layout--padding-bottom">

  <div class="section-inner">
    <h3><%= t("check.partners.header") %></h3>
    <p><%= t("check.partners.text") %></p>
    <ul class="logos">
      <% data.check_supporter_logos.each do |image| %>
        <li>
          <%= partial "partials/image", :locals => {
              :type => image[:type],
              :name => image[:name],
              :url => image[:url]} %>
        </li>
      <% end %>
    </ul>
  </div>
</section>

<%# Github %>
<section class="colors--inverted layout--padding-bottom">
  <div class="section-inner">
    <h3><%= t("check.github.header") %></h3>
    <p><%= t("check.github.text") %></p>

    <p><%= t("check.footer") %></p>

    <p>
      <a href="/en/check/check_privacy.html">
        <%= t("footer.privacy") %>
      </a>
      &nbsp;
      <a href="/en/check/check_tos.html">
        <%= t("footer.tos") %>
      </a>
    </p>
  </div>
</section>