---
layout: "default"
slug: "about"
---

<%# Team %>
<section>
  <div class="section-inner">
    <h3><%= t("home.team.header") %></h3>
    <p><%= t("home.team.text") %></p>
    <ul class="about__team">
      <% data.team_members.each do |member| %>
      <li>
        <img src="/images/team/<%= member.name %>@1x.jpg" alt="<%= member.name %>" srcset="/images/team/<%= member.name %>@2x.jpg 2x">
        <div class="name"><%= member.fullname %></div>
        <div class="title"><%= member.title %></div>
      </li>
      <% end %>
    </ul>
  </div>
</section>

<%# Recent press %>
<section class="about__recent-press">
  <div class="section-inner">
    <%= partial "partials/press_blurbs" %>
  </div>
</section>

<%# About Promo-bar %>
<div class="about__promo-bar">
  <div class="section-inner">
    <p> <%= t("about.we_love") %> <a class="button" href="mailto:hello@meedan.com"> <%= t("about.email_us") %></a></p>
  </div>
</div>

<%# Our Vision %>
<section class="about__our-vision colors--inverted">
  <div class="section-inner">
    <h3><%= t("about.our_vision.header") %></h3>
    <% t("about.our_vision.paragraphs").each do |e| %>
      <p><%= e[:text] %></p>
    <% end %>
  </div>
</section>

<%# Challenges %>
<%= partial("partials/section__default", :locals => { :name => "about__challenges" }) %>

<%# Product photo %>
<div class="about__products-photo"></div>

<%# Products %>
<%= partial("partials/section__default", :locals => { :name => "about__products" }) %>

<%# Methods %>
<%= partial("partials/section__default", :locals => { :name => "about__methods" }) %>

<%# Public Engagement Photo %>
<div class="about__background-photo"> </div>

<%# Public Engagement Text %>
<%= partial("partials/section__default", :locals => { :name => "about__public-engage" }) %>

<%# Homepage Donate %>
<%= partial "partials/donate" %>

<%# Contact %>
<%= partial "partials/contact" %>
