---
layout: "default"
slug: "about"
---

<%# Team %>
<section>
  <h3><%= t("home.team.header") %></h3>
  <p><%= t("home.team.text") %></p>
  <ul class="about--team">
    <% data.team_members.each do |member| %>
    <li>
      <img src="/images/team/<%= member.name %>@1x.jpg" alt="<%= member.name %>" srcset="/images/team/<%= member.name %>@2x.jpg 2x">
      <div class="name"><%= member.fullname %></div>
      <div class="title"><%= member.title %></div>
    </li>
    <% end %>
  </ul>
</section>

<%# Recent press %>
<section class="about--recent-press">
  <%= partial "partials/press_blurbs" %>
</section>

<%# About Promo-bar %>
<div class="about--promo-bar">
  <p> <%= t("about.we_love") %> <a class="button" href="mailto:hello@meedan.com"> <%= t("about.email_us") %></a></p>
</div>

<%# Our Vision %>
<section class="about--our-vision colors--inverted">
  <h3><%= t("about.our_vision.header") %></h3>
  <% t("about.our_vision.paragraphs").each do |e| %>
    <p><%= e[:text] %></p>
  <% end %>
</section>

<%# Challenges %>
<%= partial("partials/section__default", :locals => { :name => "about--challenges" }) %>

<%# Product photo %>
<div class="about--products-photo"></div>

<%# Products %>
<%= partial("partials/section__default", :locals => { :name => "about--products" }) %>

<%# Methods %>
<%= partial("partials/section__default", :locals => { :name => "about--methods" }) %>

<%# Public Engagement Photo %>
<div class="about--background-photo"> </div>

<%# Public Engagement Text %>
<%= partial("partials/section__default", :locals => { :name => "about--public-engage" }) %>

<%# Homepage Donate %>
<%= partial "partials/donate" %>

<%# Contact %>
<%= partial "partials/contact" %>
